.card {
  border-radius: 10px;
}

.card header {
  background-color:#9b51e0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card header h5 {
  padding: 10px;
  color: #FFFFFF;
  margin: 0;
}

.card .container {
  padding: 10px;
}