.search {
  background-color: #FFFFFF;
  margin-bottom: 10px;
  color: #FFFFFF;
  padding: 1rem;
}

.search input {
  height: 37px;
}

.search a {
  background-color: #9b51e0;
  padding: 10px 10px;
  color: #FFFFFF;
  cursor: pointer;
}